<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docker Multi-Container App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">Docker Multi-Container App</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/bento" class="nav-link">Bento UI</a></li>
                <li class="nav-item"><a href="/bento-layout" class="nav-link">Bento Layout</a></li>
                <li class="nav-item"><a href="/bento-merged" class="nav-link">Bento Merged</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <div class="header">
            <div class="container">
                <h1>Todo Application</h1>
            </div>
        </div>
        
        <div class="todo-container">
            <form method="POST" action="/" autocomplete="off" class="todo-form">
                <input type="text" name="task" placeholder="Add new task">
                <button type="submit">Add</button>
            </form>
            
            <% if(Object.keys(tasks).length > 0) { %>
                <ul class="todo-list">
                    <% tasks.forEach(todo => { %>
                        <li class="todo-item">
                            <div>
                                <div><%= todo.task %></div>
                                <small><%= moment(todo.created_at).fromNow() %></small>
                            </div>
                            <a href="javascript:;" onclick="this.children[0].submit()">
                                <form method="POST" action="/todo/destroy">
                                    <input type="hidden" name="_key" value="<%= todo._id %>" />
                                </form>
                                <button class="delete-button"><i class="fa fa-trash-o"></i></button>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <div class="empty-state">Please add some tasks.</div>
            <% }%>
        </div>
    </div>
</body>

</html>